{%extends "base.html"%}
{%load static%}
{% block content %}
<div class="landing-img">
  <img id="surfer" src="{% static '/images/Wellbeinglandingimg.png' %}" alt="surfer">
  <button class="btn" id="left-arrow">Arrow</button>
  <button class="btn" id="right-arrow">Arrow</button>
</div>
<div class="section-1">
  <div class="cut">
    <div id="wellbeing-def">
  <h3>Well - be • ing</h3>
  <p>(noun)</p>
      <h5>- the state of being comfortable, healthy and happy.</h5></div>
  </div>
  <div class="about-us">
   <h3 id="about-us">About Us</h3>
   <p>We strive to provide an experience of overall <br> well-being. We believe in providing service to the 3<br> main pillars of well-being : Comfort, Health and <br>Happiness. We do this by hosting our guests in our <br>world-class villas, providing top health foods from <br>our renowned health certified chef and by being able<br>to show the top surf spots of some of the world’s <br>most beautiful and conistent waves.</p>
  </div>
</div>
<div class="section-2">
  <div class="cut-2">
    <div class="comfort">
<h3 id="comfort">Comfort - Recover to go out harder</h3>
<p>Our villas provide a sense of being around the local environment. We pride ourselves<br>
  in  having the best villas available in all of the mentawai islands. Our villas will provide<br>
  the comfort needed after a long day of adventure and amazing waves.
</p>
</div>
</div>
<img src="static/images/villas.png" alt="villas">
</div>
<div class="section-3">
  <div class="cut-3">
    <div class="health">
      <h3>Health is Wealth</h3>
      <p>Nothing is more important than ones own health and more and more<br>
          the world is waking up to that fact. Our world-renowned health certified chef has <br>
          loved calling the mentawai islands his home now for over ten years. Cooking with as <br>
          local ingredients as possible your body will thank you after each meal everyday.*
           
        <br><i>*3 meals/day</i>
          </p>
    </div>
  </div>
  <img src="static/images/fruitbowl.png" alt="fruit-bowl">
</div>
<div class="section-4">
  <div class="cut-4">
   <div class="dream-waves">
   <h3>Ride the Wave of Your Dreams</h3>
   <p>The mentawai islands is surrounded by the most consistent reef anywhere in the <br> 
      world. With the surf season being virtually all year long you will not get skunked <br>
      coming to surf in mentawai. The backdrops are beautiful along with amazing waves <br>
      we can almost gurantee you will have a smile from ear to ear.</p>
  </div>
 </div>
 <img src="static/images/dreamwave.png" alt="dream-wave">
</div>
<div class="section-5">
<div class="meet-staff">
<h8>MEET OUR TEAM</h8>
<p>Our Staff</p>
</div>
 <div class="staff-1">
 <img src="static/images/Joe-doe.png" alt="surf-guide">
 <div class="agent-desc">
 <p>Surf Guide</p>
 <h4>JOE DOE</h4>
 <h8>123 456 7890</h8>
 <br>
 <h8>agent@gmail.com</h8>
 <br>
<button><a href="#" class="fa fa-facebook"></a></button>
<button><a href="#" class="fa fa-twitter"></a></button>
<button><a href="#" class="fa fa-linkedin"></a></button>
 </div>
    </div>
    <div class="staff-2">
<img src="static/images/Jane-doe.png" alt="hospitality-expert">
<div class="agent-desc">
<p>Hospitality Expert</p>
<h4>JANE DOE</h4>
<h8>123 456 7890</h8>
<br>
<h8>agent@gmail.com</h8>
<br>
<button><a href="#" class="fa fa-facebook"></a></button>
<button><a href="#" class="fa fa-twitter"></a></button>
<button><a href="#" class="fa fa-linkedin"></a></button>
</div>
    </div>
    <div class="staff-3">
<img src="static/images/Joe-doe2.png" alt="health-chef">
<div class="agent-desc">
<p>Health Certified Chef</p>
<h4>JOE DOE</h4>
<h8>123 456 7890</h8>
<br>
<h8>agent@gmail.com</h8>
<br>
<button><a href="#" class="fa fa-facebook"></a></button>
<button><a href="#" class="fa fa-twitter"></a></button>
<button><a href="#" class="fa fa-linkedin"></a></button>
</div>
    </div>
    <div class="meet-staff">
 </div>
</div>
<div class="section-6">
<div class="book-now">
<h1>Book</h1> <br><h1 id="now">Now</h1>
<button>Book</button>
</div>
<img src="static/images/island-drone.png" alt="drone-shot">
</div>
<div class="footer-section">
<img src="static/images/Wellbeinglogo.png" alt="wellbeing-logo">
<div class="footer-socials">
<button><a href="#" class="fa fa-facebook"></a></button>
<button><a href="#" class="fa fa-twitter"></a></button>
<button><a href="#" class="fa fa-linkedin"></a></button>
<button><a href="#" class="fa fa-pinterest"></a></button>
</div>
<div class="footer-info">
<p>INFORMATION</p>
<br>
<h9>Our Contacts</h9>
<br>
<h9>Privacy Policy</h9>
<br>
<h9>Terms and Conditions</h9>
<br>
<h9>FAQs</h9>
</div>
<div class="footer-links">
<p>USEFULL LINKS</p>
<br>
<h9>Blog</h9>
<br>
<h9>Our Contacts</h9>
<br>
<h9>Book</h9>
<br>
<h9>Support</h9>
</div>
<div class="footer-about">
<p>ABOUT Well Being Surf Camp</p>
<br>
<h9>Well being surf camp - Health Concious Surf Camp</h9>
<br>
<br>
<h9>West Sumatra 25436, Indonesia</h9>
<br>
<h9>+ 62 8110004417 (Whatsapp only)</h9>
</div>
<div class="footer-footer">
<h8 id="created-by">Proudly created by Kristian Estrada</h8>
<h8>Privacy Policy</h8>
<h8>Terms and Conditions</h8>
<h8>Contact Us</h8>
</div>
</div>
{% endblock %}
