
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 2rem!important;
        padding-left: 3rem!important;
    }
    .navbar-brand {
    margin-right: 30rem!important;
    }
    .bg-light {
        background-color: #FB9985!important;
    }
    @media only screen and (max-width: 600px) {
        .landing-img #left-arrow {
        top: 69%!important;
        left: 5%!important;
        }
        .landing-img #right-arrow {
            top: 69%!important;
            left: 90%!important;
        }
    }
    .landing-img #surfer {
    width: 100vw;
    height: 100vh;
    }
        .landing-img #left-arrow {
    position: absolute;
    top: 64%;
    left: 9%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 35px 35px;
    border: none;
    cursor: pointer;
    border-radius: 55px 50px 50px 50px;
    opacity: 0;
    }
    .landing-img #right-arrow {
    position: absolute;
    top: 64%;
    right: 1%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 35px 35px;
    border: none;
    cursor: pointer;
    border-radius: 55px 50px 50px 50px;
    opacity: 0;
    }
    .section-1 {
    background-color: #FB9985;
    width: 100vw;
    height: 50vh;
    overflow: hidden;
    position: relative;
    }
    .about-us {
    margin-left: 700px;
    margin-top: -200px;
    padding: -50px 100px 100px 500px;
    }
    .about-us p {
    margin-left: 280px;
    padding-top: 10px;
    }
    #about-us {
      margin-left: 550px;
    }
    .cut {
    background-color: #D8D8D8;
    position: relative;
    top: 0px;
    right: 0px;
    width: 100vw;
    height: 35vh;
    transform-origin:left;
    transform: skewY(-15deg);
    }
    
    .cut #wellbeing-def {
    padding: 30px 0 0 35px;
    transform-origin: left;
    transform: skewY(15deg)
    }
    #wellbeing-def h5 {
        margin-top: -10px;
    }
    .section-2, .section-3, .section-4{
    background-color: #FB9985;
    }
    .comfort, .health, .dream-waves {
    padding: 30px 0 0 35px; 
    }
    .section-2 img {
    margin: -150px 0 0 0;
    width : 100vw;
    }
    p {
    font-size: 20px;
    }
    .comfort p {
    padding-top: 10px;
    }
    .section-3 img {
    width: 100vw;
    margin-top: -238px;
    }
    .section-4 img {
    width: 100vw;
    margin-top: -208px;
    }
    .section-5 {
    height: 100vh;
    background-color: white;
    display: flex;
    }
    .meet-staff {
    text-align: center;
    margin-top: 20vh;
    }
    .staff-1, .staff-2, .staff-3 {
    height: 400px;
    width: 20px!important;
    background-color: black;
    margin: 10px 10px 10px 10px;
    flex: 5;
    }